{% extends '::frontend.html.twig' %}

{% block body -%}

    <div class="row">
       	<div class="col-xs-12 col-sm-12 com-md-12">
        	<h2><a href="{{ path('dimensiones') }}">
            		Dimensiones:
            	</a>
         		Editar
        	</h2>
    	</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12">
	        <div class="portlet light tasks-widget ">
	            <div class="portlet-title">
	                <div class="caption">
	                	<i class="icon-pencil font-green"></i>
	                    <span class="caption-subject font-green bold uppercase">Editar Memoria Ram</span>
	                </div>
	            </div>
	            <div class="portlet-body">
	                <div class="task-content">

    					{{ form_start(edit_form) }}

    						<div class="col-xs-12 col-sm-2 col-md-2">
	                    		Dimensiones:
	                    	</div>
	                    	<div class="col-xs-12 col-sm-3 col-md-3">
	                    		{{ form_widget(edit_form.dimensiones) }}
	                    	</div>

	                    {{ form_end(edit_form) }}

	                </div>
	        	</div>
	    	</div>
		</div>
	</div>

{% endblock %}