Crm\GeneralBundle\Entity\Estatus:
    type: entity
    table: null
    repositoryClass: Crm\GeneralBundle\Entity\EstatusRepository
    id:
        id:
            type: integer
            id: true
            generator:
                strategy: AUTO
    fields:
        estatus:
            type: string
            length: '30'
    oneToMany:
        cliente:
            targetEntity: Crm\ClienteBundle\Entity\Cliente
            mappedBy: Estatus
        empresa:
            targetEntity: Crm\EmpresaBundle\Entity\Empresa
            mappedBy: Estatus
        equipo:
            targetEntity: Crm\EquipoBundle\Entity\Equipo
            mappedBy: Estatus
        fabricante:
            targetEntity: Crm\FabricanteBundle\Entity\Fabricante
            mappedBy: Estatus
        personal:
           targetEntity: Crm\PersonalBundle\Entity\Personal
           mappedBy: Estatus
    lifecycleCallbacks: {  }
