 {% for entity in entities %}
    <div class="mt-action">
        <div class="mt-action-img">
            <img src=""> 
        </div>
        <div class="mt-action-body">
            <div class="mt-action-row">
                <div class="mt-action-info ">
                    <div class="mt-action-details ">
                        <p><label>De:</label><span class="mt-action-author">  {{entity.nombre}}</span>&nbsp;&nbsp;&nbsp;
                        <label>Asunto: </label>
                        <p class="mt-action-desc">{{entity.aviso.avisos}}</p>
                    </div>
                </div>
                <div class="mt-action-datetime ">
                        <span class="mt=action-time">{{ entity.aviso.fechaCreacion|date('Y-m-d H:i') }}</span>
                </div>
                <div class="mt-action-buttons ">
                    <div class="btn-group btn-group-circle">
                        <a href="{{ path('vista_avisos', { 'id': entity.aviso.id }) }}" class="btn btn-outline yellow btn-sm">Ver</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}