{% extends '::frontend.html.twig' %}

{% block body -%}
    {% block form -%}
        {{ render (controller('TicketBundle:Ticket:new')) }}
    {% endblock %}

   <div class="row">
        <div class="col-md-12">
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption font-dark">
                            <span class="caption-subject bold uppercase"> Tickets</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_2">
                        <thead>
                            <tr>
                                <th class="oculto">Id</th>
                                <th>Cola</th>
                                <th>Solicitante</th>
                                <th>Contenido</th>
                                <th>Prioridad</th>
                                <th>Fecha</th>
                                <th>Aciones</th>
                            </tr>
                        </thead>
                        {% block lista -%}
                            {{ render(controller('TicketBundle:Ticket:listado')) }}
                        {% endblock %}
                    </table>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
