{% extends '::frontend.html.twig' %}

{% block body -%}

	<div class="col-md-6 col-sm-6">
        <div class="portlet light ">
            <div class="portlet-title tabbable-line">
                <div class="caption">
                    <i class="fa fa-ticket font-dark"></i>
                    <span class="caption-subject font-dark bold uppercase">Ticket</span>
                </div>
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#tab_prioridad" data-toggle="tab" aria-expanded="true"> Prioridad </a>
                    </li>
                    <li class="">
                        <a href="#tab_mis_ticket" data-toggle="tab" aria-expanded="false"> Mis atendidos </a>
                    </li>
                </ul>
            </div>
            <div class="portlet-body">
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_prioridad">
                    
                        <div class="mt-actions">

                            {% block prioridad -%}
                                <div id="tick">{{ render(controller('TicketBundle:Ticket:prioridad')) }}</div>
                            {% endblock %}
                           
                                                                                    
                         </div>                
                    </div>

                    <div class="tab-pane" id="tab_mis_ticket">
                                          
                      	<div class="mt-actions">

                            {% block misTicket -%}
                                {{ render(controller('TicketBundle:Ticket:misTicket')) }}
                            {% endblock %}
                         
                        </div>
                    </div>


               	</div>
            </div>
        </div>
   	</div>

    <div class="col-md-6 col-sm-6">
        <div class="portlet light ">
            <div class="portlet-title tabbable-line">
                <div class="caption">
                    <i class="fa fa-ticket font-dark"></i>
                    <span class="caption-subject font-dark bold uppercase">Ticket Recientes</span>
                </div>
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#tab_recientes" data-toggle="tab" aria-expanded="true"> Recientes </a>
                    </li>
                </ul>
            </div>
            <div class="portlet-body">
                <div class="tab-content">
                    
                    <div class="tab-pane active" id="tab_recientes">                         
                        <div class="mt-actions">
                            
                            {% block recientes -%}
                                {{ render(controller('TicketBundle:Ticket:recientes')) }}
                            {% endblock %}
                                                
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
       setInterval("location.reload()",60000);

    $(document).ready(function(){

        $("#nav").on("click",".pagination li a", function(){
            $.get($(this).attr("href","{{path ('ticket_prioridad')}}");
                 $('#tick').load($(this).attr('href'));
            );
            
        });

    });
    </script>

{% endblock javascripts %}