{% extends '::frontend.html.twig' %}

{% block body %}


    {% for flashMessage in app.session.flashbag.get('mensaje') %}
        <h2 class="alert-success">{{ flashMessage }}</h2><br /><br />
    {% endfor %}

    {% block form -%}
          {{ render(controller('VentasBundle:Venta:new')) }}
    {% endblock -%}
    
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject bold uppercase"> Lista Ventas</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_2">
                        <thead>
                            <tr>                                        
                                <th class="oculto"> id </th>
                                <th>Equipo</th>
                                <th>Fecha Venta</th>
                                <th>Cliente</th>
                                <th>Producto</th>
                                <th>Estatus</th>
                                <th> Actions </th>
                            </tr>
                        </thead>
                         {% block lista -%}
                            {{ render(controller('VentasBundle:Venta:listado')) }}
                        {% endblock -%}
                    </table>                                     
                </div>
            </div>        
        </div>
    </div>
{% endblock body %}

{% block javascripts %}
<script>
        var x = document.getElementById("crm_ventasbundle_venta_equipo").value;
        if (x == '' )
        {
            jQuery('#noDisponible').removeClass("oculto");
            jQuery("#crm_ventasbundle_venta_equipo" ).prop( "disabled", true );
        }
   
</script>
{% endblock javascripts %}



