{% extends '::vendedor.html.twig' %}

{% block body -%}

<div class="rom">
    <div class="col-xs-12 col-sm-12 com-md-12">
        <h2><a href="{{ path('venta') }}">
            Lista
        </a>
        <span>
            /Nueva venta 
        </span></h2>
    </div>
</div>

  <div class="row">
  	<div class="col-xs-12 col-sm-12 col-md-12">
  		<div class="portlet light tasks-widget ">
  		    <div class="portlet-title">
                <div class="caption">                    
                        <span class="caption-subject font-green sbold uppercase">Nueva venta</span>
                </div>
            </div>

            <div class="portlet-body">
                 
                 {{ form(form) }}

      
</div>

</div>
</div>
</div>
{% endblock %}
