Crm\EquipoBundle\Entity\Equipo:
    type: entity
    table: null
    repositoryClass: Crm\EquipoBundle\Entity\EquipoRepository
    id:
        id:
            type: integer
            id: true
            generator:
                strategy: AUTO
    fields:
        serieFabricante:
            type: string
            length: '20'
        serieWarriors:
            type: string
            length: '20'
        fechaLlegada:
            type: datetime
        checkCaracteristicas:
            type: boolean
            nullable: TRUE
        checkVenta:
            type: boolean
            nullable: TRUE
        checkUbicacion:
            type: boolean
            nullable: TRUE
        checkLicencia:
            type: boolean
            nullable: TRUE
    manyToOne:
        modeloEquipo:
          targetEntity: Crm\CaracteristicasBundle\Entity\ModeloEquipo
          inversedBy: equipo
          joinColumn:
            name: modelo_id
            referencedColumnName: id
        fabricante: 
          targetEntity: Crm\FabricanteBundle\Entity\Fabricante
          inversedBy: equipo
          joinColumn:
            name: fabricante_id
            referencedColumnName: id
    oneToMany:
        caracteristicasEquipo: 
          targetEntity: Crm\EquipoBundle\Entity\CaracteristicasEquipo
          mappedBy: Equipo
        ubicacion:
          targetEntity: Crm\EquipoBundle\Entity\Ubicacion
          mappedBy: Equipo
        venta:
          targetEntity: Crm\VentasBundle\Entity\Venta
          mappedBy: Equipo
    oneToOne:
        licenciaEquipo:
          targetEntity: Crm\EquipoBundle\Entity\LicenciaEquipo
          inversedBy: equipo
          joinColumn:
              name: licenciaEquipo_id
              referencedColumnName: id
    lifecycleCallbacks: {  }
