Crm\EquipoBundle\Entity\LicenciaEquipo:
    type: entity
    table: null
    repositoryClass: Crm\EquipoBundle\Entity\LicenciaEquipoRepository
    id:
        id:
            type: integer
            id: true
            generator:
                strategy: AUTO
    fields:
        fechaInicio:
            type: datetime
            column: fecha_inicio
        fechaFinal:
            type: datetime
            column: fecha_final
    oneToOne:
        equipo:
           targetEntity: Crm\EquipoBundle\Entity\Equipo
           inversedBy: licenciaEquipo
           joinColumn:
                name: equipo_id
                referencedColumnName: id
    manyToOne:
        tipoLicencia:
          targetEntity: Crm\ProductoBundle\Entity\TipoLicencia
          inversedBy: licenciaEquipo
          joinColumn:
            name: tipoLicencia_id
            referencedColumnName: id
    lifecycleCallbacks: {  }
